# Collections

1. Listas
2. Tuplas
3. Lista de tuplas
4. Tupla de objetos
5. Heraça e polimorfismo
6. _Array_ e Numpy
7. Igualdade e o `__eq__`
8. Outras _built in functions_ 
9. Ordenação

## 1. Listas

- Sequência ordenada de acesso aleatório (posso acessar seus elementos de forma indexada)
- Funcionamento similar ao conceito de _array_ que existe na maior parte das linguagens, mas não é o _array_ do Python
- É mutável (pode ter seus valores alterados)
- Aceita elementos de diferentes tipos, mas o uso "padrão" é com tipagem comum para que seja possível fazer alguma ação/tratamento em iterações

In [ ]:
idades = [14, 35, 27, 22]
print(idades)

[14, 35, 27, 22]

In [ ]:
# adiciona um elemento ao final da lista
idades.append(41)
print(idades)

[14, 35, 27, 22, 41]

In [ ]:
# remove a primeira ocorrencia do elemento passado
idades.remove(27)
idades.append(27)
print(idades)

[14, 35, 22, 41, 27]

In [ ]:
# insere um elemento antes do indice passado
idades.insert(1, 25)
print(idades)

[14, 25, 35, 22, 41, 27]

In [ ]:
idades.clear()
print(idades)

[]

In [ ]:
idades = [25, 14, 35, 27, 41, 22]
# adiciona os elementos da lista passada
idades.extend([17, 29])
print(idades)

[25, 14, 35, 27, 41, 22, 17, 29]

In [ ]:
idades_mais_um = []
for idade in idades:
  idades_mais_um.append(idade+1)
print(idades_mais_um)

[26, 15, 36, 28, 42, 23, 18, 30]

### 1.1. _List comprehesion_
Permite escrever de forma mais compacta iterações sobre listas que apliquem alguma transformação ou filtragem

In [ ]:
[(idade + 1) for idade in idades]

[26, 15, 36, 28, 42, 23, 18, 30]

In [ ]:
# filtra idades maiores que 25
[idade for idade in idades if idade > 25]

[35, 27, 41, 29]

In [ ]:
def faz_aniversario(idade):
  return idade + 1

[faz_aniversario(idade) for idade in idades if idade > 25]

[36, 28, 42, 30]

### 1.2. Problemas da mutabilidade

#### Passagem por referência
Um problema trazido pela mutabilidade de listas ocorre quando passamos essa lista para uma função, pois no Python essa passagem é feita por referência, ou seja, não estou passando uma cópia da minha lista que ira existir apenas no escopa da função.

No exemplo abaixo a lista é passada para uma função que realiza algumas operações na lista:

In [ ]:
def faz_algumas_coisas(lista):
  print(len(lista))
  lista.pop()
  lista.append(67)
  if 25 in lista:
    lista.remove(25)
  lista[0] = 0
  print(len(lista))

In [ ]:
idades = [15, 19, 25, 28, 22, 23]
faz_algumas_coisas(idades)
idades

6
5

[0, 19, 28, 22, 67]

#### Cacheamento de métodos
Outro problema que vale ser citado é quando definimos um valor padrão para parâmetros opcionais, no caso em que esse parâmetro é transformado dentro da função.

Como no caso abaixo em que a função é chamada várias vezes sem passar nenhum argumento. Dessa forma a cada chamada é adicionado um elemento na lista que inicialmente era vazia, mas que foi cacheada na primeira vez que foi chamada (?).

In [ ]:
def funcao_cacheada(lista = []):
  print(len(lista))
  print(lista)
  lista.append(1)

In [ ]:
funcao_cacheada()
funcao_cacheada()
funcao_cacheada()
funcao_cacheada()

0
[]
1
[1]
2
[1, 1]
3
[1, 1, 1]

Uma forma de evitar esse problema é passando "nada" como valor padrão:

In [ ]:
def funcao_cacheada(lista = None):
  if lista == None:
    lista = []
  print(len(lista))
  print(lista)
  lista.append(1)

In [ ]:
funcao_cacheada()
funcao_cacheada()
funcao_cacheada()
funcao_cacheada()

0
[]
0
[]
0
[]
0
[]

#### Objetos próprios

In [14]:
class ContaCorrente:

  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0

  def deposita(self, valor):
    self.saldo += valor

  def __str__(self):
    return "=> Codigo {}\tSaldo {}".format(self.codigo, self.saldo)

In [24]:
minha_conta = ContaCorrente(15)
print(minha_conta)

=> Codigo 15	Saldo 0

In [25]:
minha_conta.deposita(100)
print(minha_conta)

=> Codigo 15	Saldo 100

In [19]:
outra_conta = ContaCorrente(16)
outra_conta.deposita(200)
print(outra_conta)

=> Codigo 16	Saldo 200

In [21]:
# lista com referencias para as contas
contas = [minha_conta, outra_conta]
print(contas)
# dessa forma nao chama o metodo padrao de representacao em string, mas podemos ver que sao objetos diferentes

[<__main__.ContaCorrente object at 0x7f70f9b12588>, <__main__.ContaCorrente object at 0x7f70f9b84e80>]

In [22]:
# devemos acessar cada objeto individualmente para imprimir sua representação
for conta in contas:
  print(conta)

=> Codigo 15	Saldo 100
=> Codigo 16	Saldo 200

Novamente podemos observar um "problema" que ocorre devido a mutabilidade das listas.

Criando uma lista com dois elementos `minha_conta`, o que acontece é que agora temos uma lista com dois elementos que refênciam o objeto `minha_conta` que foi instânciado. Ou seja, no total temos três referências para nosso objeto que esta na memória.

Assim, qualquer transformação que fizermos em uma das refências afetará o objeto:

In [26]:
minhas_contas = [minha_conta, minha_conta]
print(minha_conta)
minhas_contas[0].deposita(50)
print(minha_conta)
minhas_contas[1].deposita(-300)
print(minha_conta)
minha_conta.deposita(70)
print(minha_conta)

=> Codigo 15	Saldo 100
=> Codigo 15	Saldo 150
=> Codigo 15	Saldo -150
=> Codigo 15	Saldo -80

#### Apresentando valores com uma representação imutável
Vamos considerar o caso em que preciso realizar algumas operações sobre várias contas. Posso criar uma lista de contas e iterar sobre cada um dos elementos dessa lista:

In [29]:
def deposita_varias_contas(contas):
  for conta in contas:
    conta.deposita(100)

contas = [minha_conta, outra_conta]
print(contas[0], "\t", contas[1])
deposita_varias_contas(contas)
print(contas[0], "\t", contas[1])

=> Codigo 15	Saldo 120 	 => Codigo 16	Saldo 400
=> Codigo 15	Saldo 220 	 => Codigo 16	Saldo 500

Em algum momento surge a necessidade de utilizar o primeiro elemento dessa lista para indicar a agência dessas contas, ou seja, cada lista representa as contas de uma agência. Eu já não posso utilizar os métodos criados anteriormente sem modificá-los, pois o primeiro elemento da lista é um número e não possui o método `deposita()`:

In [30]:
agencia = 49
contas.insert(0, agencia)
print(contas[0], contas[1], contas[2])

49 => Codigo 15	Saldo 220 => Codigo 16	Saldo 500

Ou então vamos pensar na situação em que preciso de uma representação (apenas) dos nomes e idades dos correntistas:

```
correntista_um = ['batatinha', 25]
correntista_dois = ['cenourinha', 28]
```

Se eu precisa agrupar essas informações terei que criar uma lista com cada uma das listas que representa um correntista. E se algum método quiser modificar alguma dessas lista, vai conseguir pois listas são mutáveis.

Nessa situação em que eu quero uma **representação imutável** a lista não é o contentor mais indicado, para isso devemos utilizar as **tuplas**.

```
correntista_um = ('batatinha', 25) # tupla
correntista_dois = ('cenourinha', 28)
correntista_tres = (23, 'tomatinho') # não deve ser feito
```

## 2. Tuplas

"Basicamente" é uma lista imutável. Aceita elementos de diferentes tipos, é indexada, mas não posso modificar / adicionar / remover seus elementos.

Devido a sua imutabilidade, em geral, as tuplas não são usadas para esse fim. Em geral nessas situações são utilizadas classes com atributos ao invés de tuplas, pois assim posso definir comportamentos (métodos) para esses objetos, o que não é possível com tuplas.

Se optarmos por trabalhar com tuplas, em situações similares ao exemplo em questão, devemos desenvolver o código baseado em valores e funções. Isso é uma característica mais próxima do paradigma funcional que de OO.

In [33]:
conta_bruno = (15, 1000) # número e saldo da conta
# conta_bruno.deposita(100) # variação OO ('comportamento' é definido junto dos 'dados')

# variação funcional (separando 'comportamento' dos 'dados')
def deposita(conta):
  novo_saldo = conta[1] + 100
  codigo = conta[1]
  return (codigo, novo_saldo)

In [34]:
# retorna uma nova tupla
deposita(conta_bruno)

(1000, 1100)

In [35]:
# a tupla original permanece intocada
conta_bruno

(15, 1000)

In [36]:
# atribuindo novamente, consigo "fazer o deposito na conta original"
conta_bruno = deposita(conta_bruno)
conta_bruno

(1000, 1100)

Em geral o uso de tuplas vai te levar mais para o lado do paradigma funcional e as listas para o OO, mas isso não é uma regra.

**Resumindo**, tuplas vão ser mais utilizadas quando a posição for essencial para a representação e nesse caso o tamanho também deve ser fixo. Enquanto que as listas vão ser usadas quando a posição não for importante para a representação, quando todos os elementos puderem receber o mesmo tratamento.

## 3. Lista de tuplas

Verificamos que para nosso propósito o mais adequado é representarmos as contas usando tuplas.

E para a situação em que precisamos agregar um número variável de contas em uma coleção podemos muito bem criar uma lista de contas. Por exemplo, a medida que mais pessoas vão abrindo contas no Banco é preciso adicioná-las na coleção:

In [37]:
bruno = ('Bruno', 27, 1993)
bruna = ('Bruna', 25, 1995)
usuarios = [bruno, bruna]
usuarios

[('Bruno', 27, 1993), ('Bruna', 25, 1995)]

In [ ]:
breno = ('Breno', 31, 1989)
usuarios.append(breno)
usuarios

## 4. Tupla de objetos

Pode ser útil quando vamos tratar uma coleção imutável de objetos, pois não corremos o risco da coleção mudar, mas podemos alterar os objetos atraves de suas referências. No fim das contas o que tem dentro da tupla são as referências para os objetos e não os objetos em si.

In [40]:
conta_bruno = ContaCorrente(15)
conta_bruno.deposita(100)
conta_bruna = ContaCorrente(16)
conta_bruna.deposita(200)

contas = (conta_bruno, conta_bruna)
contas

(<__main__.ContaCorrente at 0x7f70f1e6a2b0>,
 <__main__.ContaCorrente at 0x7f70f1e6a2e8>)

In [41]:
for conta in contas:
  print(conta)

=> Codigo 15	Saldo 100
=> Codigo 16	Saldo 200

In [42]:
contas[0].deposita(100)
for conta in contas:
  print(conta)

=> Codigo 15	Saldo 200
=> Codigo 16	Saldo 200

Apesar se der um uso útil, em geral as tuplas não são usadas para essa situação descrita acima, pois suas posições não tem significado.

## 5. Heraça e polimorfismo

In [55]:
class Conta:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
    return self

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

In [48]:
print(Conta(15).deposita(100))

	=> Codigo 15	Saldo 100

In [56]:
class ContaCorrente(Conta):
  def vira_mes(self):
    self._saldo -= 2
    return self

class ContaPoupanca(Conta):
  def vira_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3
    return self

In [57]:
conta1 = ContaCorrente(1)
conta1.deposita(1000)
conta1.vira_mes()
print(conta1)

	=> Codigo 1	Saldo 998

In [58]:
conta2 = ContaPoupanca(2)
conta2.deposita(1000)
conta2.vira_mes()
print(conta2)

	=> Codigo 2	Saldo 1007.0

In [59]:
# utilizando polimorfismo
contas = [conta1, conta2, ContaCorrente(3)]

for conta in contas:
  conta.deposita(500)
  print(conta)

	=> Codigo 1	Saldo 1498
	=> Codigo 2	Saldo 1507.0
	=> Codigo 3	Saldo 500

In [60]:
for conta in contas:
  conta.vira_mes()
  print(conta)

	=> Codigo 1	Saldo 1496
	=> Codigo 2	Saldo 1519.07
	=> Codigo 3	Saldo 498

### 5.1. Método abstrato

Vamos corrigir o problema de que as classes que extendem `Conta` não são obrigadas a implementar o método `vira_mes()`.

Reescrevemos a classe `Conta` tornando-a uma classe abstrata, dessa forma ela não pode ser instânciada. E definimos o `vira_mes()` como um método abstrato, assim todas as classes que extenderem `Conta` serão obrigadas a fazer uma implementação de `vira_mes()`.

In [86]:
from abc import ABCMeta, abstractmethod
class Conta(metaclass=ABCMeta):

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def deposita(self, valor):
    self._saldo += valor
    return self
  
  @abstractmethod
  def vira_mes(self):
    pass

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

class ContaCorrente(Conta):
  def vira_mes(self):
    self._saldo -= 2
    return self

class ContaPoupanca(Conta):
  def vira_mes(self):
    self._saldo *= 1.01
    self._saldo -= 3
    return self

Se alguma classe extender `Conta` sem implementar `vira_mes()` será lançado um erro no momento que esta classe for instânciada e não quando fosse acessar o método `vira_mes()` para algum objeto dessa classe.

## 6. _Array_ e Numpy

O _array_ do Python é um tipo de dado muito específico e deve ser importado. Ele aceita apenas valores do mesmo tipo, então consegue armazenar e processar esses dados de forma mais eficiente que listas.

In [65]:
import array as arr

arr.array('d', [1, 3.5]) # inicializa um array do tipo 'numero de ponto flutuante' (double)

array('d', [1.0, 3.5])

Quando o objetivo é alcançar o melhor desempenho em processamento de funçoes matemáticas usamos os _arrays_ da biblioteca **Numpy**, que também deve ser importada.

No Google Colab ou Anaconda não é necessário fazer a instalação pelo **pip**.

In [66]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.18.5)

In [67]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [68]:
numeros = numeros + 3
numeros

array([4. , 6.5])

Na prática, quando se trata de processamento matemático não é recomendável usar _arrays_ puros (do Python), mas sim o Numpy, que já vem com vários métodos implementados.

## 7. Igualdade e o `__eq__`

Criando uma classe para representar outro tipo de conta, vamos avaliar a igualdade sem definir o método `__eq__`:

In [78]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    return self._codigo == outro._codigo
    
  def deposita(self, valor):
    self._saldo += valor
    return self

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

In [73]:
conta1 = ContaSalario(9)
conta2 = ContaSalario(9)
print(f"{conta1}\n{conta2}")

	=> Codigo 9	Saldo 0
	=> Codigo 9	Saldo 0

In [79]:
print(f"{conta1 in [conta1]}\n{conta2 in [conta1]}\n{conta1 == conta2}")

True
False
False

As duas contas possuem o mesmo código, mas obiviamente vão retornar `False` nessa comparação pois representam diferentes objetos que apenas foram instânciados com o mesmo código.

Como não foi definido o método `__eq__` na classe, a única forma de essa avaliação retornar verdadeira seria se as duas representações apontassem para o mesmo objeto na memória. O que está sendo avaliado na igualdade é o objeto todo (endereço de memória?) e não um atributo específico.

Se eu quiser que essa avaliação de igualdede seja em função do código da conta preciso especificar isso no método `__eq__`.

In [80]:
conta1 = ContaSalario(9)
conta2 = ContaSalario(9)
conta1 == conta2

True

In [81]:
conta1 in [conta1]

True

In [82]:
conta2 in [conta1]

True

Podemos refinar o método `__eq__` comparando todos os atributos da classe ou até mesmo antes disso, comparando se o tipo é o mesmo. Dessa forma, se eu fizer um deposito em apenas umas das contas elas deixam de ser avaliadas como iguais e muito menos corro o risco de avaliar como iguais duas instâncias de classes diferentes que podem ter os mesmos atributos.

In [100]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
    
  def deposita(self, valor):
    self._saldo += valor
    return self

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

In [101]:
conta1 = ContaSalario(14)
conta2 = ContaCorrente(14)
conta1 == conta2

False

É possível ser ainda mais genérico e comparar de acordo com a classa mãe. Tomando como exemplo as classes `Conta` e `ContaCorrente`, que extende a primeira:

In [103]:
isinstance(ContaCorrente(2), ContaCorrente)

True

In [104]:
isinstance(ContaCorrente(2), Conta)

True

In [105]:
isinstance(ContaCorrente(2), ContaSalario)

False

## 8. Outras _built in functions_

In [109]:
# obter os indices de cada idade
idades = [13, 67, 34, 25, 32, 83, 44, 19]

for i in range(len(idades)):
  print(i, idades[i])

0 13
1 67
2 34
3 25
4 32
5 83
6 44
7 19

In [110]:
range(len(idades)) # isso não é uma lista é um iterável, lazy...

range(0, 8)

In [113]:
list(range(len(idades)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [114]:
[range(len(idades))]

[range(0, 8)]

In [108]:
enumerate(idades) # iterável, lazy

In [115]:
list(enumerate(idades))

[(0, 13), (1, 67), (2, 34), (3, 25), (4, 32), (5, 83), (6, 44), (7, 19)]

In [116]:
for valor in enumerate(idades):
  print(valor)

(0, 13)
(1, 67)
(2, 34)
(3, 25)
(4, 32)
(5, 83)
(6, 44)
(7, 19)

In [117]:
# desempacotamento da tupla
for indice, idade in enumerate(idades):
  print(indice, 'x', idade)

0 x 13
1 x 67
2 x 34
3 x 25
4 x 32
5 x 83
6 x 44
7 x 19

In [118]:
# caso em que quero apenas um dos valores das tuplas
usuarios = [
            ("Bruno", 27, 1993),
            ("Bruna", 25, 1995),
            ("Breno", 31, 1999)
]

# desempacota todos os valores da tupla
for nome, idade, nascimento in usuarios:
  print(nome)

Bruno
Bruna
Breno

In [119]:
# desempacota os valores da tupla e ignorando o que não vou usar
for nome, _, _ in usuarios:
  print(nome)

Bruno
Bruna
Breno

## 9. Ordenação

### 9.1. Ordem natural

In [121]:
idades

[13, 67, 34, 25, 32, 83, 44, 19]

In [122]:
# ordena do menor para o maior
sorted(idades)

[13, 19, 25, 32, 34, 44, 67, 83]

In [125]:
# ordena do maior para o menor
sorted(idades, reverse=True)

[83, 67, 44, 34, 32, 25, 19, 13]

In [123]:
# reverte a ordem dos elementos
reversed(idades) # retorna um iterador

In [124]:
list(reversed(idades))

[19, 44, 83, 32, 25, 34, 67, 13]

In [126]:
list(reversed(sorted(idades)))

[83, 67, 44, 34, 32, 25, 19, 13]

In [127]:
# os metodos acima retornam outras lista/iterador, mantem o original inauterado
idades

[13, 67, 34, 25, 32, 83, 44, 19]

In [129]:
# agora ordena a própria lista (in place)
idades.sort()
idades

[13, 19, 25, 32, 34, 44, 67, 83]

### 9.2. Objetos sem ordem natural

Números e _strings_ são tipos de dados que possuem uma ordem natural, ou seja, eles já tem uma comportamento padrão para comparações do tipo maior (`>`) e menor (`>`).

Os objetos do tipo `Conta`, `ContaCorrente` ou `ContaSalario` possuem uma ordem natural.

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __eq__(self, outro):
    if not isinstance(outro, ContaSalario):
      return False

    return self._codigo == outro._codigo and self._saldo == outro._saldo
    
  def deposita(self, valor):
    self._saldo += valor
    return self

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

In [132]:
conta_bruno = ContaSalario(16)
conta_bruno.deposita(300)

conta_bruna = ContaSalario(13)
conta_bruna.deposita(1000)

conta_breno = ContaSalario(87)
conta_breno.deposita(700)

contas = [conta_bruno, conta_bruna, conta_breno]

In [133]:
for conta in contas:
  print(conta)

	=> Codigo 16	Saldo 300
	=> Codigo 13	Saldo 1000
	=> Codigo 87	Saldo 700

Para ordenar as contas usando o método `sorted()`, sem modificar a classe, precisamos definir uma "chave" (`key`). Assim a comparação vai ser feita em função do valor retornado pela função passada no parâmetro `key`. Você pode implementar qualquer lógica nessa função, desde que o objeto seja reduzido a um valor comparável, neste caso a função simplesmente retorna o saldo da conta.

Uma observação interessante é que essa abordagem é mais utilizada com o paradigma funcional.

In [134]:
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

	=> Codigo 16	Saldo 300
	=> Codigo 87	Saldo 700
	=> Codigo 13	Saldo 1000

Nessa abordagem acabamos "violando" o encapsulamento da nossa classe ao acessar diretamente um atributo protegido.

Neste caso, que a função apenas acessa um atributo da classe e retorna seu valor há uma outra forma de fazer isso sem precisar escrever uma função, que é usando o método `attrgetter` da biblioteca `operator`. Este método permite acessar qualquer atributo independente do seu nível de encapsulamento (público, protegido ou privado).

In [135]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

	=> Codigo 16	Saldo 300
	=> Codigo 87	Saldo 700
	=> Codigo 13	Saldo 1000

Mesmo usando o método `attrgetter` eu ainda sou obrigado a acessar diretamente algo que não deveria ser acessado dessa maneira.

Para manter o encapsulamento da classe sem expor nenhum atributo diretamente, se estamos trabalhando com OO podemos implementar o método especial `__lt__` ("_less than_") e definir o comportamento de acordo com a lógica que eu quiser.

In [136]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if not isinstance(outro, ContaSalario):
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    return self._saldo < outro._saldo

  def deposita(self, valor):
    self._saldo += valor
    return self

In [138]:
conta_bruno = ContaSalario(169).deposita(300)
conta_bruna = ContaSalario(13).deposita(1000)
conta_breno = ContaSalario(87).deposita(700)

contas = [conta_bruno, conta_bruna, conta_breno]

In [139]:
conta_bruno < conta_bruna

True

In [140]:
conta_bruno > conta_bruna

False

In [141]:
for conta in sorted(contas):
  print(conta)

	=> Codigo 16	Saldo 300
	=> Codigo 87	Saldo 700
	=> Codigo 13	Saldo 1000

In [142]:
for conta in sorted(contas, reverse=True):
  print(conta)

	=> Codigo 13	Saldo 1000
	=> Codigo 87	Saldo 700
	=> Codigo 16	Saldo 300

### 9.3. Ordenação em função de vários atributos

Nas situações em que a comparação de um único valor não é suficiente para informar qual objeto é menor ou maior, devemos fazer uso de "critérios de desempate".

Se estamos usando o `attrgetter()` podemos passar um segundo parâmetro para isso:

In [144]:
conta_bruno = ContaSalario(169).deposita(300)
conta_bruna = ContaSalario(13).deposita(1000)
conta_breno = ContaSalario(87).deposita(300)

contas = [conta_bruno, conta_bruna, conta_breno]

for conta in contas:
  print(conta)

	=> Codigo 169	Saldo 300
	=> Codigo 13	Saldo 1000
	=> Codigo 87	Saldo 300

In [145]:
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

	=> Codigo 87	Saldo 300
	=> Codigo 169	Saldo 300
	=> Codigo 13	Saldo 1000

Para adicionar este comportamento na "ordenação natural" da classe basta refinar um pouco o método mágico:

In [ ]:
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if not isinstance(outro, ContaSalario):
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor
    return self

In [146]:
conta_bruno = ContaSalario(169).deposita(300)
conta_bruna = ContaSalario(13).deposita(1000)
conta_breno = ContaSalario(87).deposita(300)

contas = [conta_bruno, conta_bruna, conta_breno]

for conta in contas:
  print(conta)

	=> Codigo 169	Saldo 300
	=> Codigo 13	Saldo 1000
	=> Codigo 87	Saldo 300

In [147]:
for conta in sorted(contas):
  print(conta)

	=> Codigo 169	Saldo 300
	=> Codigo 87	Saldo 300
	=> Codigo 13	Saldo 1000

### 9.4. _functools_

Apesar de termos implementados dois métodos magicos para comportamentos de comparação (`__eq__` e `__lt__`) se tentarmos fazer comparações de "menor ou igual" ou "maior ou igual", perceberemos que este tipo de comparação ainda não foi definida.

Para isso vamos usar o `total_ordering` da biblioteca `functools`, atráves de uma anotação (_decorator_). Para isso ter efeito precisamos que os métodos mágicos `__eq__` e `__lt__` já tenham sido implementados.

In [148]:
from functools import total_ordering

@total_ordering
class ContaSalario:

  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0

  def __str__(self):
    return "\t=> Codigo {}\tSaldo {}\t".format(self._codigo, self._saldo)

  def __eq__(self, outro):
    if not isinstance(outro, ContaSalario):
      return False
    return self._codigo == outro._codigo and self._saldo == outro._saldo

  def __lt__(self, outro):
    if self._saldo != outro._saldo:
      return self._saldo < outro._saldo
    return self._codigo < outro._codigo

  def deposita(self, valor):
    self._saldo += valor
    return self

In [149]:
conta_bruno = ContaSalario(169).deposita(300)
conta_bruna = ContaSalario(13).deposita(1000)
conta_breno = ContaSalario(87).deposita(300)

In [150]:
conta_bruno <= conta_bruna

True

In [151]:
conta_bruno == conta_breno

False

In [152]:
conta_bruno >= conta_breno

True